*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    width: 100%;
    height: 80vh;
    background: url(../images/mobile/image-header.jpg)center center/100% no-repeat;
}
.logo{
    margin: 20px;
}
.btn-menu{
    margin: 20px;
    float: right;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
}
.menu{
    background-color: white;
    margin: 0 5%;
    padding: 60px;
    font-size: 2em;
    text-align: center;
    line-height: 50px;
    display: none;
}
.menu-item a{
    color: gray;
}
#menu-contato{
    background-color: yellow;
    border-radius: 100px;
    margin: auto;
    width: 200px;
}
#menu-contato a{
    color: black;
}
.titulo{
    text-align: center;
    font-size: 3em;
    color: white;
    margin-top: 5%;
}
.titulo img{
    margin: 10%;
}
.box-1{
    width: 100%;
    text-align: center;
    color: grey;
    margin-bottom: 50px;
}
.box-1 img{
    width: 100%;
}
.box-1 h2{
    margin: 20px;
    color: black;
    font-size: 2em;
    
}
.box-1 p{
    margin: 0 5%;
    font-size: 1.2em;
    margin-bottom: 50px;
}
.box-1 a{
    color: black;
    text-decoration: underline;
}
.div-design{
    background: url(../images/mobile/image-graphic-design.jpg) center center/100% no-repeat;
    width: 100%;
    text-align: center;
    color: rgba(39, 39, 39, 0.795);
}
.div-design h2{
    padding-top: 75vh;
    font-size: 2.5em;
}
.div-design p{
    font-size: 1.2em;
    margin-top: 30px;
    padding: 0 5% 20vh;
}
.div-photo{
    background: url(../images/mobile/image-photography.jpg) center center/100% no-repeat;
    width: 100%;
    text-align: center;
    color: rgba(39, 39, 39, 0.795);
}
.div-photo h2{
    padding-top: 75vh;
    font-size: 2.5em;
}
.div-photo p{
    font-size: 1.2em;
    margin-top: 30px;
    padding: 0 5% 20vh;
}
.clients{
    text-align: center;
}
.clients h2{
    font-size: 2em;
    margin: 20px;
    color: grey;
}
.clients img{
    width: 100px;
    border-radius: 200px;
    margin: 20px;
}
.clients p{
    margin:  0 10%;
    color: rgb(66, 66, 66);
}
.clients h3{
    margin: 20px 0 5px;
}
.clients .desc{
    color: grey;
}
.galery{
    width: 100%;
}
.galery img{
    width: 49%;
}
footer{
    background-color: rgb(134, 219, 219);
    text-align: center;
    padding: 40px 50px 15px;
}
footer h2{
    color:rgba(0, 90, 75, 0.8);
    font-size: 2em;
    margin-bottom: 30px;
}
.menu-footer{
    padding-bottom: 60px;
    display: flex;
    justify-content: space-around;
}
.menu-footer a{
    font-size: 1.2em;
    color:rgba(0, 90, 75, 0.6);
}
.social{
    margin:0 60px 40px;
    display: flex;
    justify-content: space-around;
}
.attribution { font-size: 11px; text-align: center; color:rgba(1, 73, 61, 0.9)}
.attribution a { color: hsl(228, 45%, 44%); }